@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
/*css goes in here*/
*{
    box-sizing: border-box;
    color:white;

    
}

body{
    margin: 75px;
    background:url("Images/blackwood\ wallpaper.jpg") no-repeat fixed;
}   
#navbar{
    display: flex;
    width: 550px;
    color: blue;
    background-color:black;
    padding: 10px lightgray;
    border: 10px lightgray;
    flex-direction: row;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;}

    

    .bigdiv{
    display: flex;
    margin: 75px;
    border: 25px solid;
    border-color: black;
    background-color:black;
    flex-direction: row;
    justify-content;
}



#navbar a{
    font-size:25px;
    background-color:black;
}

#navbar a:hover{
    background-color:darkgray;
}

h1{
    font-size: 70px;
    text-align:center
}
img{
    width:250px;
    height:auto;
}


.para{ font-family:url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
    font-size: 18px;
    border: 15px black;
    width: auto;
    margin: 0px

}
.header{
    font-family:url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
    font-size:50
}

#box2{
    text-align: center;
}

#disclaimer{
    text-align:end
}